server:
  port: 8080

spring:
  datasource:
    url: jdbc:sqlite:./data/minicommerce.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        format_sql: true

springdoc:
  api-docs:
    path: /api-docs-json
  swagger-ui:
    path: /api-docs
